<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%- head.title %>
  </title>
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link href="/style.css" rel="stylesheet">
  <meta name="description" content="<%- head.meta.description %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="<%- head.meta.author %>" />
  <meta name="keywords" content="<%- head.meta.keywords %>" />
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <nav class="bg-gray-800 py-3 fixed w-full top-0 z-50">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
     
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="text-white px-3 py-2 rounded-md text-lg font-large">
            <%- myInfo.name %>
          </div>
          
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

          <a target="_blank" title="send email"
          href="<%- links.email %>"
          class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 18">
              <path fill="#fff" class="fill-blue-middle"
                d="M29.333.333H12A2.674 2.674 0 0 0 9.333 3v12A2.667 2.667 0 0 0 12 17.667h17.333A2.657 2.657 0 0 0 32 15V3A2.667 2.667 0 0 0 29.333.333zm0 4.894-8.666 4.44L12 5.227V3l8.667 4.413L29.333 3v2.227zM6.667 15c0 .227.04.44.066.667h-5.4c-.736 0-1.333-.6-1.333-1.333C0 13.6.597 13 1.333 13h5.334v2zM4 2.334h2.733c-.026.226-.066.44-.066.666v2H4c-.733 0-1.333-.6-1.333-1.333S3.267 2.334 4 2.334zM1.333 9c0-.733.6-1.333 1.334-1.333h4v2.667h-4c-.734 0-1.334-.6-1.334-1.334z" />
            </svg>
          </a>

          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button"
                class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="./img/profileImg.png" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    
  </nav>
  <!-- nav end -->

  <!-- jumbo start -->
  <section id="intro-section" class=" w-full flex flex-wrap mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 b">
    <div class="relative px-6 lg:px-8 sxs:mt-40">
      <div class="mx-auto max-w-3xl pt-32 pb-32 sm:pt-48 sm:pb-40">
        <div>
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div
              class="relative overflow-hidden rounded-full py-4 px-4 text-md leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20 ">
              <span class="text-gray-600">
                <%- myInfo.title %>
              </span>
            </div>
          </div>
          <div>
            <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">
              <%- myInfo.name %>
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">
              <%- myInfo.description %>
            </p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
              <a target="_blank" title="download resumex
"
              href="https://drive.google.com/file/d/1Xm5558jWCossjlWKbFFNTqcI1HoJgcHF/view?usp=sharing"
                class="inline-block rounded-lg bg-indigo-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                Download CV
                <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
              </a>
              <a target="_blank" title="send email"
              href="<%- links.email %>"
                class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                Contact
                <span class="text-gray-400" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
      <img class=" w-80 h-80 rounded-full" src="./img/profileImg1.png" alt="profile image" />
    </div>
  </section>
  <!-- jumbo end -->


  <section id="education-section"
    class="relative overflow-hidden shadow sm:rounded-lg sm:pt-40 sm:pb-40 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mb-3">
    <div class="">
      <h1 class="text-2xl font-bold tracking-tight sm:text-left sm:text-6xl sm:pb-16">Education</h1>
    </div>
    <div class="flex  flex-wrap justify-between">
      <% educations.forEach(function(education){%>
        <div class="px-4 py-5 sm:px-6  flex-1  sm:flex-2 md:flex-3">
          <div class="flex align-center border-gray-500">
            <div class="flex-none w-12 h-12 mr-4 inline-flex justify-center align-center shadow rounded-full">
              <img class="p-2" src=<%- education.img %> alt=<%- education.college %>/>
            </div>
            <h2 class="text-lg font-medium leading-6 text-gray-900 text-left w-60 inline-flex items-center">
              <%- education.title %>
            </h2>
          </div>
          <p class="mt-1 max-w-2xl text-md text-gray-500">
            <%- education.college %> - <span class="text-sm">
                <%- education.place %>
              </span>
          </p>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            <%- education.startDate %> - <%- education.endDate %>
          </p>
          <% education.courses.forEach(function(course) { %>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 flex">
              <span class="bullet-point">
              </span>
              <span>
              <%- course %>.<br />
            </span>
            </p>
                <% }) %>
        </div>
        <% }) %>
    </div>
  </section>
  <!-- experiences section -->
  <section id="experience-section"
    class="overflow-hidden  shadow sm:rounded-lg  sm:pt-40 sm:pb-40 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mb-3  ">
    <div>
      <h1 class="text-2xl font-bold tracking-tight sm:text-left sm:text-6xl  sm:pb-16">Experience</h1>
    </div>
    <div class="flex flex-wrap justify-between ">
      <% experiences.forEach(function(experience){%>
        <div class="px-4 py-5 sm:px-6 flex-1  sm:flex-2 md:flex-3">
          <div class="flex  align-center border-gray-500">
            <div class="flex-none w-12 h-12 mr-4 inline-flex justify-center items-center shadow rounded-full">
              <img  class="p-2"  src=<%- experience.img %> alt=<%- experience.company %>/>
            </div>
            <h2 class="text-lg font-medium leading-6 text-gray-900  text-left w-60  inline-flex  items-center">
              <%- experience.title %>
            </h2>
          </div>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            <%- experience.company %> - <%- experience.place %>
          </p>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            <%- experience.startDate %> - <%- experience.endDate %>
          </p>
          <% experience.tasks.forEach(function(task) { %>
            <p class="mt-1 max-w-2xl text-sm text-gray-500 flex">
              <span class="bullet-point">
              </span>
              
              <span>
                <%- task %>.<br />
              </span>
            </p>
                <% }) %>
        </div>
        <% }) %>
    </div>
  </section>
  <!-- experience section end -->

  <!--  -->
  <section id="other-section"
    class="relative overflow-hidden shadow sm:rounded-lg sm:pt-40 sm:pb-40 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mb-3  bg-gray-20">
    <div>
      <h1 class="text-2xl font-bold tracking-tight sm:text-left sm:text-6xl sm:pb-16">Other Information</h1>
    </div>
    <div class="flex  flex-wrap justify-between">
      <% othersInfo.forEach(function(item){%>
        <div class="px-4 py-5 sm:px-6  flex-1  sm:flex-2 md:flex-3  ">
          <h2 class="text-lg font-medium leading-6 text-gray-900  text-left w-60  inline-flex  items-center">
            <span class="flex-none w-12 h-12 mr-4 inline-flex justify-center items-center shadow rounded-full">
            <img class="p-3" src= "<%- item.icon %>" alt="" /> 
           </span>
           <%- item.title %>
          </h2>
          <div>
            <ul class="ml-14">
              <% item.data.forEach(function(info){%>
                <li class="flex items-center">
                  <span class="mr-2">
                    <img class=" w-4  h-4" src="/img/listStyle.svg"   alt=""/>
                  </span>
                  <span>
                    <%- info.title %>
                </span>
                </li>
                <% })%>
            </ul>
          </div>
        </div>
        <% })%>
    </div>

  </section>
  <!--  -->

  <!-- contact section -->
  <section class="flex flex-col items-center px-5 py-16 bg-blue-extralight">
    <h2 class="mb-6 font-medium text-3xl sxs:text-[32px] leading-9.5 tracking-wider text-grey-blue select-none ">Contact
      me</h2>
    <a target="_blank" title="send email"
      class="text-lg leading-5.25  xs:w-60 h-16 flex space-x-6 justify-center items-center mb-3 bg-white rounded-lg hover:shadow-lg active:border-2 active:border-blue-light w-60"
      href="<%- links.email %>">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 18">
        <path fill="#000" class="fill-blue-middle"
          d="M29.333.333H12A2.674 2.674 0 0 0 9.333 3v12A2.667 2.667 0 0 0 12 17.667h17.333A2.657 2.657 0 0 0 32 15V3A2.667 2.667 0 0 0 29.333.333zm0 4.894-8.666 4.44L12 5.227V3l8.667 4.413L29.333 3v2.227zM6.667 15c0 .227.04.44.066.667h-5.4c-.736 0-1.333-.6-1.333-1.333C0 13.6.597 13 1.333 13h5.334v2zM4 2.334h2.733c-.026.226-.066.44-.066.666v2H4c-.733 0-1.333-.6-1.333-1.333S3.267 2.334 4 2.334zM1.333 9c0-.733.6-1.333 1.334-1.333h4v2.667h-4c-.734 0-1.334-.6-1.334-1.334z" />
      </svg>
      <span class="select-none">Send Email</span>
    </a>
    <a target="_blank" title="my linkedIn profile"
      class="text-lg leading-5.25 w-full xs:w-83.75 h-16 flex space-x-6 justify-center items-center mb-3 bg-white rounded-lg hover:shadow-lg active:border-2 active:border-blue-light w-60"
      href="<%- links.linkedin %>">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
        <path fill="#0A66C2"
          d="M27.265 27.266h-4.74v-7.425c0-1.771-.032-4.05-2.467-4.05-2.47 0-2.847 1.929-2.847 3.92v7.555H12.47v-15.27h4.551v2.087h.064a4.988 4.988 0 0 1 4.49-2.467c4.806 0 5.692 3.161 5.692 7.273l-.002 8.377zM7.12 9.909a2.752 2.752 0 1 1 0-5.503 2.752 2.752 0 0 1 0 5.503zm2.37 17.357H4.744v-15.27H9.49v15.27zM29.63.002H2.36A2.335 2.335 0 0 0 0 2.31v27.38A2.337 2.337 0 0 0 2.361 32H29.63A2.342 2.342 0 0 0 32 29.69V2.308A2.34 2.34 0 0 0 29.63 0" />
      </svg>
      <span class="select-none">LinkedIn</span>
    </a>
  
  </section>
  <!-- contact section end -->



  <script src="/main.js"></script>
</body>

</html>