@tailwind base;
@tailwind components;
@tailwind utilities;

/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url('/src/fonts/roboto/300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/src/fonts/roboto/300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/src/fonts/roboto/300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/src/fonts/roboto/300.woff') format('woff'), /* Modern Browsers */
    url('/src/fonts/roboto/300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/src/fonts/roboto/300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/roboto/400.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/src/fonts/roboto/400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/src/fonts/roboto/400.woff2') format('woff2'), /* Super Modern Browsers */
    url('/src/fonts/roboto/400.woff') format('woff'), /* Modern Browsers */
    url('/src/fonts/roboto/400.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/src/fonts/roboto/400.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/src/fonts/roboto/500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/src/fonts/roboto/500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/src/fonts/roboto/500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/src/fonts/roboto/500.woff') format('woff'), /* Modern Browsers */
    url('/src/fonts/roboto/500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/src/fonts/roboto/500.svg#Roboto') format('svg'); /* Legacy iOS */
}
